*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a191d;
    font-family: sans-serif;
}
.header h1{
    margin: 50px 0 0 140px;
    color: #d9d7dd;
}
.header h2{
    margin: 30px 0 0 140px;
    color: #00E676;
}
.icon{
    margin:50px 0 0 140px;
 }
.icon a{
    text-decoration: none;
    color: white;
}
.icon .fab{
    padding: 12px;
    margin: 5px;
    border-radius: 50%;
}
.icon .fab.fa-facebook {
  background-color: #365ca3;
  
}
.icon .fab.fa-twitter{
    background-color:#4fa3e4;
}
.icon .fa-google-plus {
    background-color: #da4532;
}  
.icon .fa-youtube {
    background-color:  #bb0000;
} 
.image_one img{
    margin: 40px 0 0 140px;
    background-size: cover;
    width: 80%;
    cursor: pointer;
}
.image_one img:hover{
    opacity: 0.7;
}
.image_one p{
    color: gray;
    font-size: 25px;
    margin-left: 140px;
    margin-top: -60px;
}
.para p{
    margin: 80px 90px 190px 0;
    margin-left: 140px;
    margin-right: 190px;
    color: #a1a3ad;
    line-height: 30px;
}
.para i{
    color: #00dbbc;
    padding: 10px;
    margin: 10px 0 0 10px;
    font-size: 19px;
}
.main h4{
    color: #00c609;
    margin-left: 140px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.main p{
    color: white;
    margin: 0 600px 0 140px;
    line-height: 30px;
    font-size: 18px;
    color: #a1a3ad;
}
.image_two img{
    margin: -690px 0px 0 1000px;
    background-size: cover;
    width: 25%;
    cursor: pointer;
}
.image_two img:hover{
    opacity: 0.9;
}
.image_three img{
    margin: 50px 0 0 300px;
    background-size: cover;
    width: 60%;
    cursor: pointer;
}
.image_three img:hover{
    opacity: .6;
}
.image_three p{
    color: grey;
    margin-bottom: 60px;
    margin-left: 20%;
    font-size: 15px;
    color: #a1a3ad;
}
.para_1 p{
    color: white;
    margin: 50px 140px 0 140px;
    font-size: 18px;
    line-height: 30px;
    color: #a1a3ad;
}
.para_1 hr{
    margin:50px 140px 50px 140px;
}