*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a191d;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
.hero{

    width: 90%;
    margin: auto;
    margin-top: 50px;
    
}

.header{
  
}
.header h1,.header h2{
    color: white;
    margin-bottom: 40px;
}
.icon{
    line-height: 6;
    
}
.image_one img{
    width: 100%;
}
.image_one p{
    color: white;
    line-height: 8;
}
.para{
    color: white;
}

.para p{
    font-size: 16px;
    line-height: 2;
}
.para i{
    color: aquamarine;
}
.blog{
    display: grid;
    grid-template-columns: 60% 40%;
    max-height: 80vh;
    margin-top: 50px;
    background-color: rgb(167, 132, 87);
    margin-bottom: 50px;
}
.main{
    color: white;
    padding: 2em;
    line-height: 2;  
}

.main h4{
    color: greenyellow;
}



.image_two img{
    max-height: 80vh;
}
.footer{
    display: grid;
    grid-template-columns: 1fr;
}
.image_three img{
    max-width: 100%;
}

.image_three p{
    color: white;
    margin-bottom: 50px;
}

.para_1{
    color: white;
    line-height: 1.5;
    
}
.para_1 p{
    margin-bottom: 60px;
}

.para_1 hr{
    margin-bottom: 70px;
}



@media (max-width:1350px){

    .blog{
        max-height: auto;
        grid-template-columns: 1fr;
    }

    
}
@media (max-width:768px){
    .blog{
        max-height: auto;
        grid-template-columns: 1fr;
    }
     .footer{
         margin-top: 1000px;
     }

    .image_two img{
        width: 100%;
    }
    }
    


 

