*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a191d;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    overflow-x: hidden;
}
.hero{

    width: 90%;
    margin: auto;
    margin-top: 50px;
    
}


.header h1,.header h2{
    color: white;
    margin-bottom: 40px;
}
.icon{
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.icon a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.icon .fab{
    padding: 15px;
    border-radius: 50%;
}

.header{
  
}
.header h1,.header h2{
    color: white;
    margin-bottom: 40px;
}
.icon .fa-google-plus {
    background-color: #da4532;
}  
.icon .fa-youtube {
    background-color:  #bb0000;
} 
.image_one img{
    width: 100%;
}
.image_one p{
    margin-bottom: 20px;
    color: gray;
   
}
.para{
    color: white;
}

.para p{
    font-size: 16px;
    line-height: 2;
}
.para i{
    color: aquamarine;
}
.blog{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main{
    color: white;
    padding: 2em;
      
}

.main h4{
    color: greenyellow;
    margin-bottom: 30px;
}
.main p{
    line-height: 35px;
    margin-bottom: 30px;
}


.main img{
    max-width: 60%;
    margin: -610px 0px 0px 850px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr;
}
.image_three img{
    max-width: 90%;
    align-items: center;
    margin-right: 30%;
}

.image_three p{
    color: white;
    margin-bottom: 50px;
}

.para_1{
    color: white;
    line-height: 1.5;
    
}
.para_1 p{
    margin-bottom: 60px;
}

.para_1 hr{
    margin-bottom: 70px;
}


@media (max-width:1350px){

    .blog{
        max-height: auto;
        grid-template-columns: 1fr;
    }
}
@media (max-width:790px){
    .header{
        text-align: center;
        margin: 0px 35px;
    }
    .header h1{
        text-align: center;
        font-size: 0px;
    }
    .icon{
        text-align: center;
    }
    .blog{
        max-height: auto;
        grid-template-columns: 1fr;
    }
     .footer p{
         margin: 10px 0px 10px 20px;
     }

    .main img{
        max-width: 100%;
        margin: 10px 10px ;
    }
    .image_three img{
        max-width: 96%;
        margin: -10px 0px 0px 20px;
    }
}
@media (max-width:480px){
    .hero{
        margin-top: 5px;
    }
    .main p{
        margin: 20px 0px 70px 0px;
        text-align: center;
    }
    .main h4{
        margin: -50px 0px 30px 0px;
        text-align: center;
    }
    .main img{
       max-width: 100%;
       margin: 10px 0px ;
    }
    .image_three img{
        margin: -40px 0px 20px 0px;
    }
}
    

 

